* {
    margin: 0;
    padding: 0;
    line-height: 0;
}

body {
    background-color:darkslategrey;
    text-align: center;
    margin: 40px auto;
}

h1 {
    margin: 40px;
    color:beige;
}

.container {
    /* overflow: hidden; */
    width: 600px;
    margin: 10px auto;
    border: 5px solid darkcyan;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.jumbo-thumbnail {
    width: 600px;
}

.thumbnail {
    border: 3px solid darkcyan;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    transition: 0.3s;
}

.thumbnail:hover {
    transform: scale(1.1);
    opacity: 0.7;
    cursor: pointer;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}