html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: azure;
}

.container-one {
    width: 95%;
    margin: 50px auto;
    padding: 10px;
    display: flex;
    gap: 10px;
    background-color: beige;
}

.container-one .sidebar-one ul, .container-one a {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: cadetblue;
}

.container-one .sidebar-two a {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-colum {
    order: 2;
    flex: 3;
}

.sidebar-one {
    order: 1;
    flex: 1;
}

.sidebar-two {
    order: 2;
    flex: 1;
}