/* exercise one */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: bisque;
}

.container-one {
    padding: 15px;
    margin: 50px auto;
    background-color: azure;
    box-sizing: border-box;
    width: 95%;
    display: flex;
    gap: 10px;
}

.main-column {
    order: 2;
    flex: 2;
}

.sidebar-one {
    order: 1;
    flex: 1;
    align-self: center;
}

.sidebar-two {
    order: 2;
    flex: 1;
    align-self: self-end;
}

.container-one ul, .container-one a {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: yellowgreen;
}

.sidebar-two a {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
/* end exercise one */


/* exercise two */
.container-two {
    width: 95%;
    margin: 50px auto;
    padding: 15px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.service {
    width: 30%;
    padding: 15px;
    background-color: darkolivegreen;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service a {
    text-decoration: none;
    color: aliceblue;
    align-self: flex-end;
}

.service.one {
    background-color: rgb(80, 70, 70);
}

.service.two {
    background-color: rgb(105, 70, 70);
}

.service.three {
    background-color: cadetblue;
}
/* end exercise two */


/* exercise three */
.container-three {
    width: 95%;
    margin: 50px auto;
    padding: 15px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.container-three .card {
    width: 20%;
    background-color: rgb(64, 64, 66);
    border-radius: 5px;
    box-sizing: border-box;
}

img {
    width: 100%;
    border-radius: 5px;
}

.container-three .card .description {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;
    background-color: chocolate;
}
/* end exercise three */
