body {
    background: rgb(41, 90, 78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    min-height: 100vh;
    overflow: hidden;
}

/* first method */
.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    width: 500px;
    padding: 18px;
    border: 5px solid;
    background-color: #FFF1F1;
}

.sh {
    width: 49px;
    height: 180px;
}

.container-1 .sh.one,
.thr {
    background: #F2A3AB;
}

.two {
    --outer-radius: 90px;
    /* Outer radius */
    --thickness: 50px;
    /* Ring thickness */
    --color: #84B9C7;
    /* Ring color */
    position: relative;
    overflow: hidden;
    background: transparent;
    /* Background color (matches hole) */
}

.ring {
    position: absolute;
    width: calc(var(--outer-radius) * 2 - var(--thickness) * 2);
    height: calc(var(--outer-radius) * 2 - var(--thickness) * 2);
    border: var(--thickness) solid var(--color);
    border-radius: 50%;
}

/* Left half */
.left {
    width: var(--outer-radius);
    height: calc(var(--outer-radius) * 2);
}

.left .ring {
    left: 0;
    top: 0;
}

/* seconds method */
.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    width: 500px;
    padding: 18px;
    border: 5px solid;
    background-color: #FFF1F1;
}

.container-2 .shp {
    height: 180px;
}

.container-2 .shp.one,
.container-2 .shp.thr {
    width: 49px;
    background-color: #84B9C7;
}

.container-2 .shp.two {
    background-color: #F2A3AB;
    width: 90px;
    border-radius: 90px 0 0 90px;
    position: relative;
    overflow: hidden;
}

.container-2 .shp.two::before {
    content: '';
    background-color: #FFF1F1;
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    transform: translate(60%, 60%);
}