* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: azure;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

nav {
    display: flex;
    background-color: bisque;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    color:cadetblue;
}

nav .logo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5em;
}

nav ul {
    display: flex;
    width: 40%;
    list-style: none;
    justify-content: space-between;
    /* background-color: blueviolet; */
}

nav ul li a{
    text-decoration: none;
    color:cadetblue;
    font-size: 0.9em;
}

nav ul li a:hover {
    color: rgb(82, 96, 97);
}


/* hamburger menu */
.toggle-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

nav .toggle-menu span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: cadetblue;
    border-radius: 3px;
}



/* responsive */
/* in tablet */
@media screen and (max-width: 768px) {
    nav .logo {
        font-size: 0.9em;
    }
    
    nav ul {
        width: 50%;
    }

    nav ul li a {
        font-size: 0.8em;
    }
}
/* in mobile */
@media screen and (max-width: 576px) {
    nav ul {
        display: none;
    }
}