body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(22, 22, 22);
}

.container {
    width: 680px;
    background-color: brown;
}

.entryarea {
    position: relative;
    height: 80px;
    line-height: 80px;
}