body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(22, 22, 22);
}

.container {
    width: 680px;
    background-color: brown;
}

.entryarea {
    position: relative;
    height: 80px;
    line-height: 80px;
}

input {
    position: absolute;
    outline: none;
    width: 100%;
    line-height: 80px;
    border-radius: 10px;
    font-size: 2.2em;
    padding: 0 30px;
    border: 2px solid skyblue;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}

.labelline {
    position: absolute;
    color: aliceblue;
    font-size: 1.6em;
    padding: 0 25px;
    margin: 0 20px;
    background: rgb(22, 22, 22);
    transition: 0.2s ease;
}